@import "../assets/css/colors";
@import "../assets/css/variables";

$toolbar-margin: 45px;
$additional-margin: 20px;

kubermatic-root,
mat-sidenav-container {
  margin: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
}

.mat-input-wrapper {
  margin: 0;
}

.main {
  height: 100%;
  padding: 0 (2.5 * $baseline-grid);
}

.mat-sidenav-container {
  background-color: $grey-background;
  background-image: url("/assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
